<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Being Processing ..</h4>
    <p>You will be redirected to out TT payment gateway </p>
    <hr>
    <p class="mb-0">Do not refresh the page </p>
  </div>