<br>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Products</li>
</ol>

<table class="table table-bordered" >
    <thead class="thead-dark" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Model</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope='row'>1</th>
            <td>gshock</td>
            <td>sports</td>
            <td>ga-110</td>
            <td> 8999</td>
        </tr>
    </tbody>
</table>